<div id="friends">

<% if user_signed_in? %>

    <table class="table table-bordered table-hover table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>          
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Twitter</th>   
          <th scope="col">User Id</th>
          <th scope="col" colspan=2></th>   
        </tr>
      </thead>
      <tbody>

    <% @friends.each do |friend| %>

      <% if friend.user == current_user %>


          <tr>
            <td>

<%=link_to friend.first_name + ' ' + friend.last_name,friend, class:"nav-link" %>

            </td>            
            <td><%=friend.email%></td>
            <td><%=friend.phone%></td>
            <td><%=friend.twitte%></td>
            <td><%=friend.user_id%></td>

                <td><%=link_to "Edit", edit_friend_path(friend), class:"nav-link" %></td>
                <td><%=button_to "Delete", friend, method: :delete, data: {confirm: 'Are you sure?'} , class:"btn-outline-danger" %></td>

          </tr>

      <% end %>

    <% end %>
      </tbody>
    </table>
    </table>
    </div>   

    <%= link_to "New friend", new_friend_path,  class:"btn btn-primary" %>
<% else %>

<p> Please login </p>

<% end %>
